@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

#navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #5E4485;
	color: #FFF;
	padding: 0.1% 0;
	font-size: 1.2em;
	font-family: 'Acme', sans-serif;	
}

#address {
	font-size: 1.6em;
}

.contactfooter {
	margin-top: 22%;
}



